extends include/layout.pug

block content
   .row
        .col-xl-3.col-sm-4
            .card
                .card-block
                    | User profile here.
        .col-xl-6.col-sm-8
            .card
                .card-block
                    | Posts here.
        .col-xl-3.col-sm-12
            .card
                .card-block
                    | Footer here.