extends include/layout.pug

block content
   div.row
        div.col-xl-3.col-sm-4.col-sms
            div.card.user-profile
                div.bg-user(style="background-image: url(assets/img/wallpaper-user.jpg);")            
                .card-block.text-center
                    div.avatar(href="")
                        img(src="assets/img/avatar.png", alt="")
                    h6
                        ="Marcos Gin"
                    p.mb-4
                        | FullStack Developer Web
                    
                    ul.followers
                        li
                            a Follower
                                h6 1k
                        li
                            a Followers
                                h6 116k
            div.card.user-info
                div.card-header
                    h6 About 
                        small · 
                            a(href="#") Edit
                div.card-block
                    ul
                        li.d-flex.justify-content-beetwen.mb-2
                            i.fa.fa-birthday-cake
                            span Birthday date 
                                b May 30, 1999
                        li.d-flex.justify-content-beetwen.mb-2
                            i.fa.fa-briefcase
                            span Works at 
                                b Espin Labs
                        li.d-flex.justify-content-beetwen.mb-2
                            i.fa.fa-home
                            span Lives in 
                                b Buenos Aires, Avellaneda
                        li.d-flex.justify-content-beetwen.mb-2
                            i.fa.fa-map-marker
                            span From 
                                b Argentina                        
        div.col-xl-6.col-sm-8.col-sms
            div.card
                div.card-block.p-0
                    each post in posts
                        div.post.d-flex.justify-content-between
                            div
                                img.img-60.rounded-circle(src="assets/img/avatar.png", alt="")
                            div.info
                                div.header.d-flex.justify-content-between
                                    h6 #{post.name}
                                    small #{post.date}
                                div.body
                                    | #{post.content}
                                div.footer
                                    div.heart

                                
        div.col-xl-3.col-sm-12
            div.card.suggested
                div.card-header
                    h6 Suggested 
                        small · 
                                a(href="#") View all
                div.card-block
                    div.suggest.d-flex.justify-content-between.mb-2
                        div
                            img.img-60.rounded-circle(src="assets/img/avatar2.jpg")
                        div.info.w-100
                            div.header
                                strong Cristian Tevez 
                                | @cristevez
                            button.btn.btn-primary.follow 
                                span
                                    i.fa.fa-user-plus 
                                    =" Follow"
                    div.suggest.d-flex.justify-content-between.mb-2
                        div
                            img.img-60.rounded-circle(src="assets/img/avatar3.png")
                        div.info.w-100
                            div.header
                                strong Oscar Riquelme 
                                | @lolo
                            button.btn.btn-primary.follow 
                                span
                                    i.fa.fa-user-plus 
                                    =" Follow"
                          

block script
    script.
        $(document).ready(function(){
            var heart = $('.heart');

            heart.click(function(){
                $(this).toggleClass('active');
            })
        });