nav.navbar.navbar-toggleable-sm.navbar-light.bg-faded
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    i.fa.fa-bars
  a.navbar-brand(href='#') #{title}
  div#navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home
      li.nav-item
        a.nav-link(href='#')
          | Profile
    ul.navbar-nav
      li.nav-item
        a.btn.btn-sm(href='#')
          | Sign up
      li.nav-item
        a.btn.btn-sm(href='#')
          | Sign in
